node_modules
presets/
!presets/wheel/
!presets/wheel/default.json
ssl/
ssl_test/
__pycache__/
.venv/
build/
build/Release/
build/Debug/
*.node
*.o
*.so
*.a
.vgp_qrcode*.png
*.log
Node Virtual Gamepads*.desktop
server_debug.js
.vgp_qrcode_user.png
